@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Regular';
  src: url("../fonts/Helvetica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url("../fonts/involve.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}