:root {
  --color-light: #FBFDFD;
  --color-white-dark: #dbdbdb;
  --color-gray: #848484;

  --color-orange-light: #F39779;
  --color-orange: #E97550;
  --color-orange-dark: #E05D33;

  --color-emerald-light: #1A4A4B;
  --color-emerald: #114142;
  --color-emerald-dark: #063536;

  --container-width: 1354px;
  --container-padding-x: 20px;
  --container-padding-y: 70px;

  --buttong-height: 52px;

  --transition-duration: 0.2s;
}